<div>
    <mat-card> 
        <mat-card-title>Checkbox configuration</mat-card-title>
        <mat-card-content>
            <div fxLayout="row" fxLayoutGap="20px">
                <mat-form-field class="example-form-field">
                    <mat-label>Story point</mat-label>
                    <input matInput type="text" [(ngModel)]="newPoint">
                    <button mat-button *ngIf="newPoint" matSuffix mat-icon-button aria-label="Clear" (click)="newPoint=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <div>
                    <button mat-raised-button color="primary" (click)="addStoryPoint()">Add</button>
                </div>
            </div>   

            <div style="width: 50%;">               
                <mat-grid-list cols="4" rowHeight="90px" >
                    <mat-grid-tile
                        *ngFor="let storyPoint of storyPointModel">
                        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                            {{storyPoint.point}}
                        </button>                      
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-card-content>
    </mat-card>
</div>

